In [75]:
import pandas as pd
import numpy as np
import re
import datetime

In [76]:
#1
def replace_colon(text):
    replacement = [' ', ',', '.']
    for char in replacement:
        text = text.replace(char, ':')
    return text

In [77]:
sample_text = 'Data Science, python programme.'
result = replace_colon(sample_text)

In [78]:
print(result)

Data:Science::python:programme:

In [79]:
#2
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123 four, five:; six...']}
df = pd.DataFrame(data)

In [80]:
def extract_words(text):
    words = re.findall(r'\b[A-Za-z]+\b', text)  
    modified_words = [word.replace('X', '') for word in words]  
    return ' '.join(modified_words)

In [81]:
df['SUMMARY'] = df['SUMMARY'].apply(extract_words)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [82]:
#3
def find_all_words(text):
    pattern = re.compile(r'\b\w{4,}\b') 
    words = pattern.findall(text) 
    return words

In [83]:
text = "This is a sample string with words of various lengths like hello, world and example."
result = find_all_words(text)

In [84]:
print (result)

['This', 'sample', 'string', 'with', 'words', 'various', 'lengths', 'like', 'hello', 'world', 'example']

In [85]:
#4
def find_specific_length_words(text):
    pattern = re.compile(r'\b\w{3,5}\b')  
    specific_length = pattern.findall(text) 
    return specific_length

In [86]:
text = "This is a sample string with words of various lengths like hello, world and example."
result = find_specific_length_words(text)

In [87]:
print(result)

['This', 'with', 'words', 'like', 'hello', 'world', 'and']

In [164]:
#5
def extract_domain(strings):
    pattern = re.compile(r'\b(\w+)\s*\(((\.*?)\w+)\)')  
    domains = [pattern.sub(r'\1\2', string) for string in strings] 
    return domains

In [167]:
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [168]:
result = extract_domain(sample_text)
print(result)

['example.com', 'hr@fliprobo.com', 'github.com', 'Hello (Data Science World)', 'DataScientist']

In [162]:
#6
text = '["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'
def remove_parenthesis(text):
    pattern = re.compile(r'\s*\([^)]*\)')  
    modified_text = pattern.sub('', text)  
    return modified_text

In [163]:
modified_text = remove_parenthesis(text)
with open('sample_text.txt', 'w') as file:
    file.write(modified_text)
print(modified_text)

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [96]:
#7
text = "WelcomeToInternshipProgramme"

In [97]:
output = re.findall(r'[A-z][a-z]*',text)
print(output)

['Welcome', 'To', 'Internship', 'Programme']

In [152]:
#8
def insert_spaces_around_integers(text):
    pattern = re.compile(r'(\d)') 
    modified_text = pattern.sub(r' \1 ', text) 
    return modified_text

In [157]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces_around_integers(text)

In [100]:
print(output)

['Welcome', 'To', 'Internship', 'Programme']

In [101]:
#9
def insert_spaces_around_integers(text):
    pattern = re.compile(r'(\d)') 
    modified_text = pattern.sub(r' \1 ', text) 
    return modified_text
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

In [102]:
result = insert_spaces_around_integers(sample_text)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [103]:
#10
import pandas as pd
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)

In [104]:
df['sixletter'] = df['Country'].str[:6]
print(df.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual sixletter
0     0.29678            2.51738    Switze
1     0.43630            2.70201    Icelan
2     0.34139            2.49204    Denmar
3     0.34699            2.46531    Norway
4     0.45811            2.45176    Canada

In [105]:
#11
def match(input_string):
    pattern = r'^[a-zA-Z0-9_]+$'
    if re.match(pattern, input_string):
        return True
    else:
        return False
string = "Abc123ghijkLMNO_"

In [106]:
if match(string):
    print(f"The string '{string}' matches the pattern.")
else:
    print(f"The string '{string}' does not match the pattern.")

The string 'Abc123ghijkLMNO_' matches the pattern.

In [107]:
#12
def start_number(string, number):
    prgm = r'^' + str(number) + r'\D'
    if re.match(prgm, string):
        return True
    else:
        return False
text = "123abc"
specific_number = 123

In [108]:
text ="78934abcdef"

In [109]:
if start_number(text, specific_number):
    print(f"The string '{text}' starts with the number {specific_number}.")
else:
    print(f"The string '{text}' does not start with the number {specific_number}.")

The string '78934abcdef' does not start with the number 123.

In [110]:
#13
def remove_leading_zeros(ip_address):
    octets = ip_address.split('.')
    cleaned_octets = [str(int(octet)) for octet in octets]
    cleaned_ip = '.'.join(cleaned_octets)
    return cleaned_ip

In [111]:
ip_with_zeros = "123.456.010.0101"
cleaned_ip = remove_leading_zeros(ip_with_zeros)
print(f"Original IP address: {ip_with_zeros}")
print(f"IP address without leading zeros: {cleaned_ip}")

Original IP address: 123.456.010.0101
IP address without leading zeros: 123.456.10.101

In [172]:
#14
def extract_date_from_text(text):
    date_pattern = r"(January|February|March|April|May|June|July|August|September|October|November|December)\s+(\d{1,2})(st|nd|rd|th)?,\s+(\d{4})"
    match = re.findall(date_pattern, text)
    
    if match:
        month, day, _, year = match[0]
        print(f"Extracted date: {month} {day}th {year}")
    else:
        print("No date found in the text file.")

# Example usage:
text_to_search = "17 july 2000."
extract_date_from_text(text_to_search)

No date found in the text file.

In [114]:
for word in searched_words:
  
  count = sample_text.lower().count(word.lower())
  
  word_counts[word] = count

In [115]:
for word, count in word_counts.items():
    if count > 0:
        print(f"Found '{word}' {count} times.")
    else:
        print(f"Word '{word}' not found.")

Found 'fox' 1 times.
Found 'dog' 1 times.
Word 'horse' not found.

In [116]:
#16
text = 'The quick brown fox jumps over the lazy dog.'
pattern = 'fox'
match = re.search(pattern, text)

In [117]:
if match:
    start_index = match.start()
    end_index = match.end()
    print("The pattern '{}' was found in the text.".format(pattern))
    print("The location of the pattern is:")
    print("Start index: {}".format(start_index))
    print("End index: {}".format(end_index))
else:
    print("The pattern '{}' was not found in the text.".format(pattern))

The pattern 'fox' was found in the text.
The location of the pattern is:
Start index: 16
End index: 19

In [118]:
#17
text = 'Python exercises, PHP exercises, C# exercises'
pat = 'exercises'
matches = re.findall(pat, text)

In [119]:
if matches:
    print("The following substrings were found:")
    for match in matches:
        print(match)
else:
    print("The pattern '{}' was not found in the text.")

The following substrings were found:
exercises
exercises
exercises

In [120]:
#18
text = "Sun rises in the east"
substring = "i"

In [121]:
occurr = [(i, match) for i, match in enumerate(text.split(substring)) if match]

In [122]:
if occurr:
    print(f"The substring '{substring}' occurs {len(occurr)} times in the text:")
    for index, match in occurr:
        print(f"At position {index + 1}: '{match}'")
else:
    print(f"The substring '{substr}' was not found in the text.")

The substring 'i' occurs 3 times in the text:
At position 1: 'Sun r'
At position 2: 'ses '
At position 3: 'n the east'

In [123]:
#19
original_date = "2024-02-01"

year, month, day = map(int, original_date.split("-"))

date_obj = datetime.datetime(year, month, day)

In [124]:
convert = date_obj.strftime("%d-%m-%Y")  

print("Original date:")
print("Formatted date:", convert)

Original date:
Formatted date: 01-02-2024

In [125]:
#20
def find_one_and_two_decimal_number(text):
    pattern = re.compile(r'\b\d*\.?\d{1,2}\b')
    mat = pattern.findall(text)
    return mat

In [126]:
sample = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
rslt = find_one_and_two_decimal_number(sample)

In [127]:
print("Original text:", sample)
print("Decimal numbers with precision of 1 or 2 in a string:", rslt)

Original text: 01.12 0132.123 2.31875 145.8 3.01 27.25 0.25
Decimal numbers with precision of 1 or 2 in a string: ['01.12', '0132', '123', '2', '31875', '145.8', '3.01', '27.25', '0.25']

In [128]:
#21
text = "Mr Sahani has 4 cars as well as 100.65 acers land."
num = re.findall(r"\d+(?:\.\d+)?", text)

In [129]:
for i, number in enumerate(num):
    start_index = text.find(number)  

    print(f"Number {i + 1}: {number} (at position {start_index})")

Number 1: 4 (at position 14)
Number 2: 100.65 (at position 32)

In [130]:
#22
text = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
numbers = re.findall(r"\d+", text)
intgs = [int(num) for num in numbers]
max_value = max(intgs)

In [131]:
print(text)
print("Maximum numeric value from the String upon Sample Text:", max_value)

My marks in each semester are: 947, 896, 926, 524, 734, 950, 642
Maximum numeric value from the String upon Sample Text: 950

In [132]:
#23
def insert_spaces_btn(text):
    pattern = r"(?<!\b\w)([A-Z])" 
    return re.sub(pattern, r" \1", text)
text = "RegularExpressionIsAnImportantTopicInPython"

In [133]:
OUTPUT = insert_spaces_btn(text)
print(OUTPUT)

 Regular Expression Is An Important Topic In Python

In [134]:
#24
text = "The Roses Are RedWhite."
pattern = r"[A-Z][a-z]+"
matches = re.findall(pattern, text)

In [135]:
print("SEQUENCE:", matches)

SEQUENCE: ['The', 'Roses', 'Are', 'Red', 'White']

In [136]:
#25
def remove_continuous(text):
    pattern = r"\b(\w+)( \1\b)+"
    remove = re.sub(pattern, r"\1", text)
    return remove

text = "Hello hello world world"

In [137]:
result = remove_continuous(text)
print(result)

Hello hello world

In [138]:
def validate(text):
    pattern = r"\w$" 
    return bool(re.search(pattern, text))

test_strings = ["hy123", "world_!", "Python$", "programming all day 24/7"]
for text in test_strings:
    if validate(text):
        print(f"Text that ends with an alphanumeric character: {text}")
    else:
        print(f"Text that does not end with an alphanumeric character: {text}")

Text that ends with an alphanumeric character: hy123
Text that does not end with an alphanumeric character: world_!
Text that does not end with an alphanumeric character: Python$
Text that ends with an alphanumeric character: programming all day 24/7

In [139]:
test = ['wel12345", "to$"  ,"program_!" ,"welcome to internship']

In [140]:
 for text in test_strings:
    if validate(text):
        print(f" ends with an alphanumeric character is:{text}")
    else:
        print(f" does not end with an alphanumeric character is:{text}")

 ends with an alphanumeric character is:hy123
 does not end with an alphanumeric character is:world_!
 does not end with an alphanumeric character is:Python$
 ends with an alphanumeric character is:programming all day 24/7

In [141]:
#27
def extract_hash(text):
    pattern = r"#\w+"
    matches = re.findall(pattern, text)
    return matches
s_txt= """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [142]:
hashtags = extract_hash(s_txt)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [143]:
#28
def remove_u_plus(text):
    pattern = r"<U\+[0-9A-F]{4}>"
    cleaned_text =  re.sub(pattern, "", text)
    return cleaned_text

In [144]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

In [145]:
result = remove_special_symbols(text)
print(result)

NameError: name 'remove_special_symbols' is not defined

In [146]:
def extract_dates(filename):
    pattern = r"\d{2}-\d{2}-\d{4}"  # Added 'r' for a raw string
    with open(filename) as file:
        text = file.read()
        dates = re.findall(pattern, text)
        return dates

In [147]:
filename = "ron.csv"  # Corrected variable name
extracted_dates = extract_dates(filename)
print("Extracted dates:", extracted_dates)

Extracted dates: ['12-09-1992', '15-12-1999']

In [148]:
#30
def remove_2and4_words(text):
    pattern = re.compile(r"\b\w{2,4}\b")
    delete = pattern.sub("", text)  
    return delete

In [149]:
text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [150]:
result = remove_2and4_words(text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

                                  THANK YOU