In [2]:
#1Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame
from bs4 import BeautifulSoup 
import requests
import pandas as pd
import csv

In [3]:
url= 'https://www.imdb.com/list/ls056092300/'

In [4]:
def get_page_contents(movies_url):
    response = requests.get(movies_url, headers={"Accept-Language": "en-US"})
    return BeautifulSoup(response.text, "html.parser")
doc = get_page_contents('http://www.imdb.com/chart/top')

In [5]:
movies = doc.find_all('div',{'class':"lister-item-content"})

In [6]:
title = [movie.find('a').text for movie in movies]
release_year = [movie.find('span', {'class':'lister-item-year text-muted unbold'}).text for movie in movies]
audience_rating = [movie.find('div', {'class':'inline-block ratings-imdb-rating'}).text.strip() for movie in movies]
genre = [movie.find('span', {'class':'genre'}).text.strip() for movie in movies]
runtime = [movie.find('span', {'class':'runtime'}).text for movie in movies]

In [7]:
movies_dict = {
    'Title' : title,
    'Release year' : release_year,
    'Audience rating' : audience_rating,
    'Genre' : genre,
    'Runtime' : runtime
}
movies_df = pd.DataFrame(movies_dict)
movies_df

Empty DataFrame
Columns: [Title, Release year, Audience rating, Genre, Runtime]
Index: []

In [8]:
#2Write a python program to scrape product name, price and discounts from url='https://peachmode.com/search?q=bags'

In [9]:
url = 'https://peachmode.com/search?q=bags'

In [11]:
response = requests.get(url)
soup = BeautifulSoup(response.content,"html.parser")

In [175]:
product_containers = soup.find_all("div", class_="product-card")
product_details = []

In [179]:
for product in product_containers:
    product_name = product.find("div",{"class":"product-title"})
    product_name.append(i.text)
    
    product_name

In [180]:
product_price = []
for product in product_price: 
    product_price = item.find("div", {"class":"st-product-prices"}) 
    product_price.append(i.text)
    
    product_price

In [181]:
product_discount = []
for product in product_discount:
    prouct_discount = item.fin("div",{"class":"sc-lbVpMG bhhajB"})
    product_discount.append(i.text)
    
    product_discount

In [182]:
df = pd.DataFrame({'product name':product_names,'product price':product_price,'product discount':product_discount})
df

Empty DataFrame
Columns: [product name, product price, product discount]
Index: []

In [ ]:
#3Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#b) Top 10 ODI Batsmen along with the records of their team and rating.
#c) Top 10 ODI bowlers along with the records of their team and rating.

In [12]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [13]:
 response = requests.get(url)
soup = BeautifulSoup(response.content)
teams_rows = soup.select('table.table tbody tr')

In [35]:
for row in team_rows:
    rank = row.select_one("span",{"class":"si-table-data si-pos"})
    team = row.select_one("span",{"class":"si-table-data si-matches"})
    matches = row.select_one("div",{"class":"si-table-data si-pts"})
    points = row.select_one("div",{"class":"si-table-data si-pts"})
    rating = row.select_one("div",{"class":"si-table-data si-rating"})
    team_data.append([rank, team, matches, points, rating])

In [36]:
teams_df = pd.DataFrame(team_data, columns=['Rank', 'Team', 'Matches', 'Points', 'Rating'])
print("Top 10 ODI Teams:")
print(teams_df.head(10))

Top 10 ODI Teams:
Empty DataFrame
Columns: [Rank, Team, Matches, Points, Rating]
Index: []

In [67]:
#b) Top 10 ODI Batsmen along with the records of their team and rating.
response = requests.get(url)
soup = BeautifulSoup(response.content)
teams_rows = soup.select('table.table tbody tr')
batsmen_rows = soup.select('table.table tbody tr')

In [53]:
batsmen_data = []
for row in batsmen_rows:
  
    player = row.select_one("div",{"class":"si-table-data si-team"})
    team = row.select_one("div",{"class":"si-table-data si-team"})
    rating = row.select_one("span",{"class":"si-table-data si-rating"})
    batsmen_data.append([rank, player, team, rating])

In [54]:
batsmen_df = pd.DataFrame(batsmen_data, columns=[ 'Player', 'Team', 'Rating'])
print("Top 10 ODI Batsmen:")
print(batsmen_df.head(10))

Top 10 ODI Batsmen:
Empty DataFrame
Columns: [Player, Team, Rating]
Index: []

In [68]:
#c) Top 10 ODI bowlers along with the records of their team and rating.
response = requests.get(url)
soup = BeautifulSoup(response.content)
teams_rows = soup.select('table.table tbody tr')
bowlers_rows = soup.select('table.table tbody tr')

In [70]:
bowlers_data = []
for row in bowlers_rows:
  
    player = row.select_one("div",{"class":"si-table-data si-player"})
    team = row.select_one("div",{"class":"si-table-data si-team"})
    rating = row.select_one("span",{"class":"si-table-data si-rating"})
    bowlers_data.append([rank, player, team, rating])

bowlers_df = pd.DataFrame(bowlers_data, columns=[ 'Player', 'Team', 'Rating'])
print("Top 10 ODI bowlers:")
print(bowlers_df.head(10))

Top 10 ODI bowlers:
Empty DataFrame
Columns: [Player, Team, Rating]
Index: []

In [77]:
#4Write a python program to scrape details of all the posts from https://www.patreon.com/coreyms .Scrape the
#heading, date, content and the likes for the video from the link for the youtube video from the post.

In [14]:
url = "https://www.patreon.com/coreyms"

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.content)
post_containers = soup.find_all("div", class_="post-container")

In [113]:
for post in post_containers:
    heading = post.find("h2",{"class":"sc-dlVxhl gJYudr"})
    date = post.find("time",{"class":"sc-mz8f26-0 gvyUof"})
    content = post.find('p',{"class":"sc-fotOHu hJqeZM"})
    likes = post.find('span',{"class":"sc-dJjYzT dHaHzA"})

    
    print(f"Heading: {heading}")
    print(f"Date: {date}")
    print(f"Content: {content}")
    print(f"Likes: {likes}\n")

In [ ]:
#5Write a python program to scrape house details from mentioned URL. It should include house title, location,
#area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,Rajaji Nagar.

In [16]:
url = 'https://www.nobroker.in/'
localities = ["Indira Nagar", "Jayanagar", "Rajaji Nagar"]

In [18]:
response = requests.get(url)
soup = BeautifulSoup(response.content)
property_container = soup.find_all("div", class_="post-container")

In [124]:
 property_containers = soup.find_all("div", class_="property-list")

In [152]:
for item in soup.find_all('div', class_='property-card'):
    title = prop.find("div",{"class":"heading-6 flex items-center font-semi-bold m-0"})
    location = prop.find("span",{"class":"listpage-serach-selected-localities"})
    area = prop.find("div",{"class":"h-1.8 w-1.8"})
    emi = prop.find("div",{"class":"font-semi-bold heading-6"})
    price = prop.find("div", {"class":"heading-7 flex"})

    print("Title:", title)
    print("Location:", location)
    print("Area:", area)
    print("EMI:", emi)
    print("Price:", price)

In [ ]:
#6Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/bestseller?sort=popular

In [19]:
url =  'https://www.bewakoof.com/bestseller?sort=popular'

In [20]:
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
products = soup.find_all("div", class_="productCardBox")

In [166]:
for i, product in enumerate(products[:10], 1):
    product_name = product.find("h3", {"class":"a-size-base-plus a-color-base a-text-normal"})
    price = product.find("span", {"class":"a-price-whole"})
    image_url = product.find("img")["src"]

    print(f"Product {i}:")
    print(f"Name: {product_name}")
    print(f"Price: {price}")
    print(f"Image URL: {image_url}")

Product 1:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/men-s-black-t-shirts-1094-1708612740-1.jpg
Product 2:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/women-s-blue-round-in-bugs-graphic-printed-oversized-short-top-589789-1707221362-1.jpg
Product 3:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/sage-green-casual-cotton-trouser-340543-1663661829-1.jpg
Product 4:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/sage-green-cotton-jogger-pants-330852-1663661717-1.jpg
Product 5:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/men-s-sky-blue-cotton-jogger-pants-330846-1664197182-1.jpg
Product 6:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/desert-beige-casual-cotton-trouser-330853-1663661915-1.jpg
Product 7:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/women-s-purple-fairytale-bunny-graphic-printed-oversized-t-shirt-519259-1694765992-1.jpg
Product 8:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/women-s-black-the-astronaut-bts-typography-oversized-t-shirt-554008-1694761013-1.jpg
Product 9:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/women-black-solid-oversize-t-shirt-580349-1684862246-1.jpg
Product 10:
Name: None
Price: None
Image URL: https://images.bewakoof.com/t640/men-s-navy-blue-gimme-a-break-graphic-printed-plus-size-t-shirt-605074-1694765201-1.jpg

In [ ]:
                    Thanks