In [1]:
#Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter. 
#You have to scrape data for “Data Scientist” designation for first 10 job results. 
#You have to scrape the job-title, job-location, company name, experience required. 
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs 
#The task will be done as shown in the below steps: 
#1. first get the web page https://www.naukri.com/
#2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
#3. Then click the search button. 
#4. Then apply the location filter and salary filter by checking the respective boxes 
#5. Then scrape the data for the first 10 jobs results you get. 
#6. Finally create a dataframe of the scraped dat

In [2]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [49]:
driver = webdriver.Chrome()

In [84]:
driver.get('https://www.naukri.com/')

In [85]:
job_title = driver.find_element(By.CLASS_NAME, "suggestor-input ")
job_title.send_keys("Data_Scientist")

In [86]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Delhi/NCR")

In [55]:
search_button = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_button.click()

In [58]:
salary_filter = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[2]/div[2]/div[1]/label/p/span[1]")
salary_filter.click()

In [70]:
jobs_data = []
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [62]:
title_tags=driver.find_elements(By.XPATH,'//div[@class=" row1"]')
for i in title_tags:
    job_title=i.text

In [63]:
title_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]')
company_name=i.text

In [64]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in title_tags:
    location

In [67]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in title_tags:
    experiance_reqiured=i.text

In [72]:
  jobs_data.append({
        'Job Title': job_title,
        'Job Location': job_location,
        'Company Name': company_name,
        'Experience Required': experiance_required
    })

In [73]:
df = pd.DataFrame(jobs_data)
print(df)

  Job Title Job Location Company Name Experience Required
0        []           []           []                  []

In [ ]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [114]:
driver = webdriver.Chrome()

In [115]:
driver.get('https://www.shine.com/')

In [129]:
Job_title = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
job_title.send_keys("Data_Scientist")

In [123]:
location = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [133]:
search_button = driver.find_element(By.CLASS_NAME, "styledcls_body_hidden")
search_button.click()

In [134]:
jobs_data = []
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [135]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu active white-box-border jobCard"]')
for i in title_tags:
    job_title=i.text

In [136]:
title_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in title_tags:
    location=i.text

In [137]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
company_name=i.text

In [138]:
title_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in title_tags:
    experiance=i.text

In [139]:
  jobs_data.append({
        'Job Title': job_title,
        'Job Location': job_location,
        'Company Name': company_name,
        'Experience Required': experiance_required
    })

In [140]:
df = pd.DataFrame(jobs_data)
print(df)

  Job Title Job Location   Company Name Experience Required
0        []           []  Bangalore\n+6                  []

In [ ]:
#Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
fLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the stepsrequired during scraping should be done through code only and not manuall

In [228]:
driver = webdriver.Chrome()

In [229]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [233]:
iphone_reviews = []
ratings = []
review_summaries = []
full_reviews = []

In [234]:
for rating_element in rating_elements[:100]:
    ratings_elements = driver.find_elements(By.XPATH, '//div[@class="col._2wzgFH.K0kLPL"]')
    for i in rating_element:
        ratings=i.text

In [235]:
for review_summaries in review_summaries[:100]:
    reviews_elements= driver.find_elements(By.XPATH,'//div[@class="_2-N8zT"]')
    for i in reviews_elements:
        reviews=i.text

In [236]:
for review_summary in review_summaries[:100]:
    review_summaries = driver.find_element(By.XPATH, '//div[@class="_2-N8zT"]')
    for i in summaries_elements:
          reviews_summaries=i.text

In [237]:
for i in range(min(100, len(ratings), len(review_summaries), len(full_reviews))):
    iphone_reviews.append({
        'Ratings': ratings[i],
        'Review Summary': review_summaries[i],
        'Full Review': full_reviews[i]
    })

In [250]:
iphone_reviews = pd.DataFrame({
    'Ratings': ratings,
    'Review_summary': review_summary,
    'Full_Review': full_reviews
})

In [252]:
print(iphone_reviews.head())

Empty DataFrame
Columns: [Ratings, Review_summary, Full_Review]
Index: []

In [ ]:
#Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes

In [253]:
driver = webdriver.Chrome()

In [314]:
url="https://www.flipkart.com/"
driver.get(url)

In [340]:
search_elements = driver.find_elements(By.XPATH, "//input[@type='text']")
 search_input.send_keys("sneakers")

In [307]:
B_name=[]
Price=[]
P_desc=[]

In [342]:
for i in range(3):
    brand = sneakers[i].find_element(By.XPATH, "//div[@class='_2WkVRV")
    brand = brand_element.text
    description = sneakers[i].find_element(By.XPATH, ".//a[@class='IRpwTa']")
    description = description_element.text
    price = sneakers[i].find_element(By.XPATH, ".//div[@class='_30jeq3 _1_WHN1']")
    price = price_element.text
    
    data.append({
        'Brand': brand.text,
        'ProductDescription': description.text,
        'Price': price.text
    })

    if len(data) == 10:
        break

In [344]:
sneakers=pd.DataFrame({})
sneakers['Brand_name']=B_name[:100]
sneakers['P_price']=Price[:100]
sneakers['Pr_desc']=P_desc[:100]

In [345]:
sneakers

Empty DataFrame
Columns: [Brand_name, P_price, Pr_desc]
Index: []

In [ ]:
#gitQ5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get("https://www.amazon.in/")

In [7]:
search_g = driver.find_elements(By.XPATH,"//input[@type='text']")
search_g.send_keys('Laptop')

In [12]:
search_btn=driver.find_elements(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn.click()

In [20]:
Title=[]
Price=[]
Rating=[]

In [13]:
for i in range(3):
    b_name = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    r_desc = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price = driver.find_elements(By.XPATH"//div[@class='_25b18c']")

In [21]:
  data.append({
        'Brand': brand.text,
        'Rating': rating.text,
        'Price': price.text
    })

    if len(data) == 10:
        break

In [ ]:
#Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quote

In [22]:
driver.get("https://www.azquotes.com/")

In [27]:
top_quote_button = driver.find_elements(By.CLASS_NAME,'active')
top_quote_button.click()

In [41]:
quote_text=[]
author_name=[] 
quote_type =[]

In [44]:
for i in top_quotes:
quotes = driver.find_elements(By.XPATH,'//div[@class='/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li[1]/div/div[1]']')
authors = driver.find_elements(By.PATH,'//div[@class='/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li[1]/div/p/a[2]']')
types = driver.find_elements(By.XPATH,'//div[@class='/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li[1]/div/div[2]/div[1]']')

In [50]:
data.append({
    'quote text': quote_text
    'author name': author_name 
     'quote type' : quote_type   
    })

In [53]:
print(f"Quote: {quote_text}")
    print(f"Author: {author_name}")
    print(f"Type of Quote: {quote_type}")
    print("\n")

In [58]:
#Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
#Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1
#scrap the mentioned data and make the DataFrame

In [64]:
driver = webdriver.Chrome()

In [65]:
driver.get("https://www.jagranjosh.com/general-knowledge")

In [67]:
table = driver.find_elements(By.XPATH,"//table[@class='table4']")

In [68]:
names = []
born_dead = []
term_of_office = []
remarks = []

In [71]:
rows = table.find_elements_by_tag_name("tr")

In [70]:
rows = table.find_elements_by_tag_name("tr")
for row in rows[1:]:  # skipping the header row
    columns = row.find_elements_by_tag_name("td")
    names.append(columns[0].text.strip())
    born_dead.append(columns[1].text.strip())
    term_of_office.append(columns[2].text.strip())
    remarks.append(columns[3].text.strip())

In [79]:
df = pd.DataFrame({
    'Name': names,
    'Born-Dead': born_dead,
    'Term of Office': term_of_office,
    'Remarks': remarks
})

In [80]:
#Q8: Write a python program to display list of 50 Most expensive cars in the world
#(i.e. Car name and Price) from https://www.motor1.com/
#This task will be done in following steps:
#1. First get the webpage https://www.motor1.com/
#2. Then You have to type in the search bar ’50 most expensive cars’
#3. Then click on 50 most expensive carsin the world..
#4. Then scrap thementioned data and make the dataframe

In [82]:
driver = webdriver.Chrome()

In [84]:
driver.get("https://www.motor1.com/")

In [88]:
search_bar = driver.find_elements(By.CLASS_NAME,"m1-search-form-button-animate icon-search-svg m1-mobile-search")
search_bar.send_keys("50 most expensive cars")

In [91]:
search_button = driver.find_elementS(By.xpath,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]/svg")
search_button.click()

In [105]:
expensive_cars_link = driver.find_element(By.XPATH,"/html/body")
expensive_cars_link.click()

In [110]:
data = {"Car Name": ["Car1", "Car2", ...], "Price": ["$100,000", "$200,000", ...]}
df = pd.DataFrame(data)

In [111]:
print(df)

   Car Name     Price
0      Car1  $100,000
1      Car2  $200,000
2  Ellipsis  Ellipsis