In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [38]:
driver = webdriver.Chrome()

In [39]:
driver.get('https://www.shine.com/')

In [40]:
job_title = driver.find_element(By.CLASS_NAME, "form-control")
job_title.send_keys("Data_Analyst")

In [41]:
location = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [42]:
search_button = driver.find_element(By.CLASS_NAME, "styledcls_body_hidden")
search_button.click()

In [57]:
jobs_data = []
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [44]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu active white-box-border jobCard"]')
for i in title_tags:
    job_title=i.text

In [45]:
title_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in title_tags:
    location=i.text

In [46]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
company_name=i.text

In [47]:
title_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in title_tags:
    experiance=i.text

In [59]:
  jobs_data.append({
        'Job Title': job_title,
        'Job Location': job_location,
        'Company Name': company_name,
        'Experience Required': experiance_required
    })

In [60]:
df = pd.DataFrame(jobs_data)
print(df)

  Job Title Job Location Company Name Experience Required
0        []           []           []                  []

In [ ]:
#Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location. 
#You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
#1. First get the webpage https://www.naukri.com/
#2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#3. Then click the searchbutton. 
#4. Then scrape the data for the first 10 jobs results you get

In [61]:
driver = webdriver.Chrome()

In [62]:
driver.get('https://www.naukri.com/')

In [63]:
job_title = driver.find_element(By.CLASS_NAME, "suggestor-input " )
job_title.send_keys("Data_Analyst")

In [64]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [65]:
search_button = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_button.click()

In [72]:
jobs_data = []
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [205]:
title_tags=driver.find_elements(By.XPATH,'//div[@class=" row1"]//a')
for i in title_tags:
    job_title=i.text

In [68]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in title_tags:
    location=i.text

In [69]:
title_tags=driver.find_elements(By.XPATH,'//div[@class=" comp-name mw-25"]')
company_name=i.text

In [70]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="expwdth"]')
for i in title_tags:
    experiance=i.text

In [73]:
  jobs_data.append({
        'Job Title': job_title,
        'Job Location': job_location,
        'Company Name': company_name,
        'Experience Required': experiance_required
    })

In [74]:
df = pd.DataFrame(jobs_data)
print(df)

driver.quit()

  Job Title Job Location Company Name Experience Required
0        []           []           []                  []

In [ ]:
#Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#1. Brand 2. ProductDescription 3. Price 
#The attributes which you have to scrape is ticked marked in the below image

In [131]:
driver = webdriver.Chrome()

In [174]:
driver.get('https://www.flipkart.com/')

In [186]:
search_box = driver.find_element(By.CLASS_NAME, "Pke_EE")
search_box.send_keys("sunglasses")

In [187]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [195]:
for i in range(len(sunglasses)):
    brand = sunglasses[i].find_element(By.XPATH, ".//div[@class='_2WkVRV']")
    brand = brand_element.text
    description = sunglasses[i].find_element(By.XPATH, ".//a[@class='IRpwTa']")
    description = description_element.text
    price = sunglasses[i].find_element(By.XPATH, ".//div[@class='_30jeq3 _1_WHN1']")
    price = price_element.text
    
    data.append({
        'Brand': brand.text,
        'ProductDescription': description.text,
        'Price': price.text
    })

    if len(data) == 100:
        break

In [196]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [197]:
sun_gl

Empty DataFrame
Columns: [Brand_name, P_price, Pr_desc, P_discount]
Index: []